.container {
  .review__block {
    width: 100%;
  }
  .main__block:hover {
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    border-bottom-left-radius: 8px;

  }
  .main__block {
    height: 200px;
    padding: 10px;
    outline: none;
    border: none;
    color: #000;
    font-size: 1em;
    background: transparent;

    .reviews {
      display: flex;
      .block__left {
        margin: 20px;
        padding: 20px;
        .rev__img {
          width: 40px;
          height: 40px;
        }
        .rev__h3 {
          font-family: 'Raleway';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 140%;
          letter-spacing: 0.02em;
          color: #000000;
          width: 160px;
        }
        .rev__p {
          font-family: 'Raleway';
          font-style: normal;
          font-weight: 500;
          font-size: 17px;
          line-height: 140%;
          letter-spacing: 0.02em;
          color: #000000;
        }
      }
      .block__right {
        margin: 20px;
        padding: 55px;
        .rev__text {
          font-family: 'Raleway';
          font-style: normal;
          font-size: 16px;
          line-height: 140%;
          letter-spacing: 0.02em;
          color: #000000;
        }
      }
    }
    .line {
      border-bottom: 1px solid black;
    }
  }

}


.card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 350px;
  width: 300px;
  flex-direction: column;
  gap: 35px;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 16px 16px 32px #ffffff,
  -16px -16px 32px #fefefe;
  border-radius: 8px;
  margin-right: 200px;
}

.inputBox,
.inputBox1 {
  position: relative;
  width: 250px;
}

.inputBox input,
.inputBox1 input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 8px;
}

.inputBox span,
.inputBox1 span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY(-4px);
  margin-left: 10px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 3px;
  border-radius: 8px;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
  transform: translateX(113px) translateY(-15px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #000;
  letter-spacing: 0.2em;
  color: #fff;
  border: 2px;
}

.inputBox1 input:valid~span,
.inputBox1 input:focus~span {
  transform: translateX(156px) translateY(-15px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #000;
  letter-spacing: 0.2em;
  color: #fff;
  border: 2px;
}

.inputBox input:valid,
.inputBox input:focus,
.inputBox1 input:valid,
.inputBox1 input:focus {
  border: 2px solid #000;
  border-radius: 8px;
}

.enter {
  height: 45px;
  width: 100px;
  border-radius: 5px;
  border: 2px solid #000;
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  margin-bottom: 3em;
}

.enter:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

.rev__lenght {
  font-family: "Raleway";
  font-style: normal;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #000000;
}

.rev__add {
  font-family: "Raleway";
  font-style: normal;
  font-size: 32px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #000000;
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}